{% extends "base.html" %} {% block title %}Add cameras{% endblock %} 
{% block style %}
<!-- link to the style sheets -->
<link 
  rel="stylesheet" 
  href="{{ url_for('static', filename='base.css') }}" 
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='add_cameras.css') }}"
/>
{% endblock %} {% block content %}
<!-- create form to enter ip camera info: name and ip adress to the stream -->
<form method="POST">
  <h3 align="center">IP Camera</h3>
  <div class="form-group">
    <label for="ipcam_name">Name</label>
    <input
      type="text"
      class="form-control"
      id="ipcam_name"
      name="ipcam_name"
      placeholder="Enter name"
    />
  </div>

  <div class="form-group">
    <label for="ipcam_ip">IP adress</label>
    <input
      type="text"
      class="form-control"
      id="ipcam_ip"
      name="ipcam_ip"
      placeholder="Enter IP adress"
    />
    <br />
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<!-- creates table with info of all the cameras linked to this account -->
<table class="table" id="cameras">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Ip adress</th>
    </tr>
  </thead>
  <tbody>
    <!-- for every camera linked to the account, get the id, name and IP adress and show them in the table -->
    {% for camera in user.user_cameras %}
    <tr>
      <th scope="row">{{ camera.id }}</th>
      <td>{{ camera.name }}</td>
      <td>{{ camera.ip }}</td>
      <td>
        <!-- add a button at the end of the table, this button allows the user to delete the camera from the database. -->
        <!-- if you see errors, these can be ignored. This syntax is allowed by flask -->
        <button
          type="button"
          class="btn-close"
          onclick="deleteCamera({{ camera.id }})"
        ></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  {% endblock %}

