{% extends "base.html" %} {% block title %}Cameras{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cameras.css') }}">
{% endblock %}
{% block content %}
<!-- adds button that collapses the menu -->
<div class="row justify-content-center">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu"
    aria-expanded="false" aria-controls="collapseMenu">
    Menu
  </button>
</div>
<!-- collapsable menu that allows selection of cameralayouts and what source to use for each image -->
<div class="collapse" id="collapseMenu">
  <div class="header" id="myHeader">
    <p>Click on the buttons to change the grid view.</p>
    <button class="btn" onclick="one()">1</button>
    <button class="btn " onclick="two()">2</button>
    <button class="btn active" onclick="four()">4</button>
  </div>
  <!-- select forms to choose the source for the image, these are the cameras linked to the user -->
  <div class="row justify-content-center">
    <select id="src_select_cam1" class="form-select" aria-label="Default select example"
      onchange="setSource('cam1','src_select_cam1')" style="width:25%">
      <option selected>Select camera 1</option>
      {% for camera in user.user_cameras %}
      <option value="{{ camera.ip }}">{{ camera.name }}</option>
      {% endfor %}
    </select>

    <select id="src_select_cam2" class="form-select" aria-label="Default select example"
      onchange="setSource('cam2','src_select_cam2')" style="width:25%">
      <option selected>Select camera 2 </option>
      {% for camera in user.user_cameras %}
      <option value="{{ camera.ip }}">{{ camera.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="row justify-content-center">
    <select id="src_select_cam3" class="form-select" aria-label="Default select example"
      onchange="setSource('cam3','src_select_cam3')" style="width:25%">
      <option selected>Select camera 3 </option>
      {% for camera in user.user_cameras %}
      <option value="{{ camera.ip }}">{{ camera.name }}</option>
      {% endfor %}
    </select>

    <select id="src_select_cam4" class="form-select" aria-label="Default select example"
      onchange="setSource('cam4','src_select_cam4')" style="width:25%">
      <option selected>Select camera 4 </option>
      {% for camera in user.user_cameras %}
      <option value="{{ camera.ip }}">{{ camera.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<!-- image grid -->
<!-- the grid makes use of the row and collumns from bootstrap to create different layouts -->
<div class="row justify-content-center">
  <div id="col1" class="col-md-9">
    <img id="cam1" src="/static/placeholder.jpg" style="width: 100%" />
  </div>
  <div id="col2" class="col-md-3">
    <img id="cam2" src="/static/placeholder.jpg" style="width: 100%" />
    <img id="cam3" src="/static/placeholder.jpg" style="width: 100%" />
    <img id="cam4" src="static/placeholder.jpg" style="width: 100%" />
  </div>
</div>


<!-- scripts -->
<script>
  // sets the source of an image to the given chosen camera
  function setSource(cam, id) {
    // get id and camera
    var e = document.getElementById(id);
    var img = document.getElementById(cam);
    // get value
    var value = e.value;
    var text = e.options[e.selectedIndex].text;
    // check if value is different from base value, if so change image source to value, if not change it to the placeholder image
    if (value.includes("Select camera")) {
      img.src = "/static/placeholder.jpg"
    } else {
      img.src = value;
    }

  }
  
  // Declare a loop variable
  var i;
  // this function hides elements passed to it by setting the 'hidden' attribute
  function hide(input) {
    for (i = 0; i < input.length; i++) {
      let things = document.getElementById(input[i]);
      let hidden = things.getAttribute("hidden");

      if (!hidden) {
        things.setAttribute("hidden", "hidden");
      }
    }
  }
  // this function unhides elements passed to it by removing the 'hidden' attribute
  function unhide(input) {
    for (i = 0; i < input.length; i++) {
      let things = document.getElementById(input[i]);
      let hidden = things.getAttribute("hidden");

      if (hidden) {
        things.removeAttribute("hidden");
      }
    }
  }
  // Get the elements with class="col"
  var elements = document.getElementsByClassName("col");
  
  
  // Full-width images
  // hides the selectors and images of cameras 2,3 and 4
  function one() {
    // sets size of the column
    document.getElementById("col1").className = "col-md-11"
    hide(["cam2", "cam3", "cam4", "src_select_cam2", "src_select_cam3", "src_select_cam4"]);
  }



  // Two images side by side
  // hides the selectors and images of cam 3 and 4
  // unhides selector and image of cam 2, if they were hidden before
  function two() {
    // sets the size of the columns
    document.getElementById("col1").className = "col-md-6"
    document.getElementById("col2").className = "col-md-6"
    hide(["cam3", "cam4", "src_select_cam3", "src_select_cam4"]);
    unhide(["cam2", "src_select_cam2"]);

  }

  // Four images side by side
  // unhides everything
  function four() {
    // sets the size of the columns
    document.getElementById("col1").className = "col-md-9"
    document.getElementById("col2").className = "col-md-3"
    unhide(["cam2", "cam3", "cam4", "src_select_cam2", "src_select_cam3", "src_select_cam4"]);
  }

  // get the buttons in the header, if a click event is triggered it will set the clicked button to active
  var header = document.getElementById("myHeader");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  // activates four function to set the starting layout
  four()
</script>


{% endblock %}