{% extends "base.html" %} {% block title %}Change password{% endblock %} 
{% block content%}
    
<div class="row justify-content-md-center">
    <div class="col-md-3">
      <form method="POST">
        <h3 align="center">Change password</h3>
        <div class="form-group">
          <label for="current_password">Current password</label>
          <input
            type="password"
            class="form-control"
            id="current_password"
            name="current_password"
            placeholder="Enter current password"
          />
        </div>
        <div class="form-group">
          <label for="new_password1">New password</label>
          <input
            type="password"
            class="form-control"
            id="new_password1"
            name="new_password1"
            placeholder="Enter new password"
          />
        </div>
        <div class="form-group">
          <label for="new_password2">Confirm new password</label>
          <input
            type="password"
            class="form-control"
            id="new_password2"
            name="new_password2"
            placeholder="Enter new password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

{% endblock%}